<div class="outer">
    <div class="container">
        <div class="row">
        <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
   
   <div class="panel border bg-white">
    <div class="panel-heading">
        <h3 class="pt-3 font-weight-bold">Signup</h3>
    </div>
    <div class="panel-body p-3">

        <form [formGroup]="signUpForm">

            <div class="form-group pt-3">
               <div class="input-field" [class.error]="signUpForm.controls['firstName'].dirty && signUpForm.hasError('required','firstName')">
<span class="fa fa-name p-2"></span>
<input type="text" placeholder="FirstName" formControlName="firstName">

                        </div>

            </div>
            <small *ngIf="signUpForm.controls['firstName'].dirty && signUpForm.hasError('required','firstName')" Class="text-danger">*firstName is Required</small>

            <div class="form-group pt-3">
                <div class="input-field" [class.error]="signUpForm.controls['lastName'].dirty && signUpForm.hasError('required','lastName')">
 <span class="fa fa-user p-2"></span>
 <input type="text" placeholder="Lastname" formControlName="lastName">
 
                         </div>
 
             </div>
             <small *ngIf="signUpForm.controls['lastName'].dirty && signUpForm.hasError('required','lastName')" Class="text-danger">Lastname is Required</small>

             

             


             <div class="form-group pt-3">
                <div class="input-field"  class="input-field" [class.error]="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')">
 <span class="fa fa-user p-2"></span>
 <input type="text" placeholder="Email" formControlName="email">
 
                         </div>
 
             </div>
             <small *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')" Class="text-danger">email is Required</small>


             <div class="form-group pt-3">
                <div class="input-field"  class="input-field" [class.error]="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')">
 <span class="fa fa-user p-2"></span>
 <input [type]="type" placeholder="Password" formControlName="password">
 
                         </div>
 
             </div>
             <div class="form-group pt-3">
                <div class="input-field" [class.error]="signUpForm.controls['userName'].dirty && signUpForm.hasError('required','userName')">
 <span class="fa fa-user p-2"></span>
 <input type="text" placeholder="Username" formControlName="userName">
 
                         </div>
 
             </div>

           
             <div class="form-inline fr mt-4">
<a id="forgot" class="font-weight-bold">Forgot Password</a>



             </div>
             <button (click)="onSignup()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Signup</button>

             <div class="text-center pt-4 text-muted">Already  have an account ?<a id="forget" routerLink="/login">Login</a></div>
        </form>
    </div>
   

</div>
</div>
   
   
    </div>
</div>